@charset "UTF-8";

/* SUB SECTION */
#new_sc {
    width: 100%;
    height: auto;
    /* min-height: -webkit-calc(100vh - 121px);
    min-height: -moz-calc(100vh - 121px);
    min-height: calc(100vh - 121px); */
    position: relative;
}

#new_sc .sc_area {
    width: 100%;
    height: auto;
    position: relative;
}

#new_sc .sc_con {
    width: 100%;
    height: auto;
    position: relative;
}

#new_sc .sc_size {
    width: 100%;
    max-width: 1280px;
    height: auto;
    position: relative;
    margin: 0 auto;
}

#new_sc.active {
    padding-top: 121px;
}

@media all and (max-width: 1281px) {
    #new_sc.active {
        padding-top: 80px;
    }
}

@media all and (max-width: 1025px) {
    #new_sc {
        min-height: auto;
    }

    #new_sc .sc_size {
        padding: 0 30px;
    }
}

@media all and (max-width: 481px) {
    #new_sc .sc_size {
        padding: 0 15px;
    }

    #new_sc.active {
        padding-top: 70px;
    }
}

/* SUB SECTION END */

/* SUB TIT */
.sub_tit_con {
    width: 100%;
    height: auto;
    position: relative;
    border-bottom: 1px solid #000;
}

.sub_tit_con .sub_tit_box {
    width: 100%;
    height: auto;
    position: relative;
    max-width: 1280px;
    margin: 0 auto;
    padding: 150px 0 5px 0;
    text-align: center;
}

.sub_tit_con .sub_tit_box2 {
    text-align: left;
}

.sub_tit_con .sub_tit_box > h2 {
    font-size: 2.5rem;
    font-weight: 400;
    color: #000;
}

@media all and (max-width: 1441px) {
    .sub_tit_con .sub_tit_box {
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media all and (max-width: 1281px) {
    .sub_tit_con .sub_tit_box {
        padding-top: 100px;
    }

    .sub_tit_con .sub_tit_box > h2 {
        font-size: 2.1875rem;
    }
}

@media all and (max-width: 1025px) {
    .sub_tit_con .sub_tit_box > h2 {
        font-size: 1.875rem;
    }
}

@media all and (max-width: 481px) {
    .sub_tit_con .sub_tit_box {
        padding-top: 50px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .sub_tit_con .sub_tit_box > h2 {
        font-size: 1.4375rem;
    }
}

@media all and (max-width: 321px) {
    .sub_tit_con .sub_tit_box > h2 {
        font-size: 1.25rem;
    }
}

/* SUB TIT END */

/* MAIN SEARCH TYPE */
.search_type_con {
    width: 100%;
    max-width: 750px;
    height: auto;
    position: relative;
    padding-top: 250px;
    padding-bottom: 250px;
    margin: 0 auto;
}

.search_type_con .search_tit {
    width: 100%;
    height: auto;
    position: relative;
    text-align: center;
    margin-bottom: 40px;
}

.search_type_con .search_tit > h2 {
    word-break: keep-all;
}

.search_type_con .search_tit > h2,
.search_type_con .search_tit > h2 > span {
    font-size: 2.5rem;
    font-weight: 300;
}

.search_type_con .search_tit > h2 > span {
    font-weight: 600;
}

.search_type_con .main_search_box {
    width: 100%;
    height: auto;
    position: relative;
}

.main_search_input {
    width: 100%;
    height: 65px;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
}

.main_search_input .main_select {
    width: 180px;
    height: 100%;
    position: relative;
}

.main_search_input .main_select::after {
    content: '';
    width: 1px;
    height: 30px;
    background-color: #989898;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 0;
}

.main_search_input .main_select > select {
    width: 100%;
    height: 100%;
    border-radius: 5rem 0 0 5rem;
    font-size: 1rem;
    font-weight: 600;
    padding: 0px 15px 0px 55px;
    border: 1px solid #989898;
    border-right: 0;
    position: relative;
    background: url(../img/main_select_arrows.png) no-repeat 30px 50%;
    -webkit-background-size: 13px 13px;
    background-size: 13px;
}

.main_search_input .main_input {
    width: -webkit-calc(100% - 180px);
    width: -moz-calc(100% - 180px);
    width: calc(100% - 180px);
    height: 100%;
    position: relative;
}

.main_search_input .main_input > input {
    width: 100%;
    height: 100%;
    border: 1px solid #989898;
    border-left: 0;
    border-radius: 0 5rem 5rem 0;
    padding: 0 100px 0 30px;
    font-size: 1rem;
    font-weight: 400;
}

.main_search_input .main_input > input::-webkit-input-placeholder {
    font-size: 1rem;
}

.main_search_input .main_input > input:-moz-placeholder {
    font-size: 1rem;
}

.main_search_input .main_input > input::-moz-placeholder {
    font-size: 1rem;
}

.main_search_input .main_input > input:-ms-input-placeholder {
    font-size: 1rem;
}

.main_search_input .main_input > input::-ms-input-placeholder {
    font-size: 1rem;
}

.main_search_input .main_input > input::placeholder {
    font-size: 1rem;
}

.main_search_input .main_button {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 49%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 30px;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.main_search_input .main_button > button {
    width: 100%;
    height: 100%;
    background-image: url(../img/main_search_icon.png);
    background-repeat: no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
    background-position: center;
    background-color: transparent;
    border: 0;
}

.main_search_input .main_button:hover {
    right: 25px;
}

@media all and (max-width: 1441px) {
    .search_type_con {
        max-width: 650px;
    }

    .search_type_con .search_tit > h2,
    .search_type_con .search_tit > h2 > span {
        font-size: 2.0625rem;
    }
}

@media all and (max-width: 1025px) {
    .search_type_con {
        padding-bottom: 200px;
    }

    .search_type_con .search_tit > h2,
    .search_type_con .search_tit > h2 > span {
        font-size: 1.875rem;
    }
}

@media all and (max-width: 885px) {
    .search_type_con {
        padding: 100px 0 150px;
    }

    .search_type_con .search_tit > h2,
    .search_type_con .search_tit > h2 > span {
        font-size: 1.6875rem;
    }

    .main_search_input {
        display: block;
        height: auto;
    }

    .main_search_input .main_select {
        width: 100%;
        max-width: 190px;
        height: 55px;
        margin: 0 auto;
        margin-bottom: 20px;
    }

    .main_search_input .main_select > select {
        border-right: 1px solid #989898;
        border-radius: 5rem;
    }

    .main_search_input .main_select::after {
        content: none;
    }

    .main_search_input .main_input {
        width: 100%;
        height: 55px;
    }

    .main_search_input .main_input > input {
        border-left: 1px solid #989898;
        border-radius: 5rem;
    }

    .main_search_input .main_input > input::-webkit-input-placeholder {
        font-size: 0.875rem;
    }

    .main_search_input .main_input > input:-moz-placeholder {
        font-size: 0.875rem;
    }

    .main_search_input .main_input > input::-moz-placeholder {
        font-size: 0.875rem;
    }

    .main_search_input .main_input > input:-ms-input-placeholder {
        font-size: 0.875rem;
    }

    .main_search_input .main_input > input::-ms-input-placeholder {
        font-size: 0.875rem;
    }

    .main_search_input .main_input > input::placeholder {
        font-size: 0.875rem;
    }
}

@media all and (max-width: 481px) {
    .search_type_con .search_tit > h2,
    .search_type_con .search_tit > h2 > span {
        font-size: 1.25rem;
    }

    .main_search_input .main_select {
        height: 45px;
        margin-bottom: 10px;
    }

    .main_search_input .main_select > select {
        font-size: 0.875rem;
    }

    .main_search_input .main_input {
        height: 45px;
    }

    .main_search_input .main_input > input {
        font-size: 0.875rem;
    }

    .main_search_input .main_input > input::-webkit-input-placeholder {
        font-size: 0.8125rem;
    }

    .main_search_input .main_input > input:-moz-placeholder {
        font-size: 0.8125rem;
    }

    .main_search_input .main_input > input::-moz-placeholder {
        font-size: 0.8125rem;
    }

    .main_search_input .main_input > input:-ms-input-placeholder {
        font-size: 0.8125rem;
    }

    .main_search_input .main_input > input::-ms-input-placeholder {
        font-size: 0.8125rem;
    }

    .main_search_input .main_input > input::placeholder {
        font-size: 0.8125rem;
    }
}

@media all and (max-width: 376px) {
    .search_type_con .search_tit {
        margin-bottom: 25px;
    }

    .search_type_con .search_tit > h2,
    .search_type_con .search_tit > h2 > span {
        font-size: 1rem;
    }

    .main_search_input .main_select,
    .main_search_input .main_input {
        height: 40px;
    }

    .main_search_input .main_select > select {
        font-size: 0.8125rem;
    }

    .main_search_input .main_input > input {
        font-size: 0.8125rem;
    }

    .main_search_input .main_button {
        width: 20px;
        height: 20px;
        right: 20px;
    }
}

/* MAIN SEARCH TYPE END */

/* SUB SKIN BOX */
.skin_item_con {
    width: 100%;
    height: auto;
    position: relative;
    border-bottom: 1px solid #000;
    font-family: 'Pretendard', sans-serif;
}

.skin_item_box {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 40px 50px;
    position: relative;
}

.skin_item_box .skin_item {
    width: 100%;
    height: auto;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
}

.skin_item_box .skin_item .skin_h2 {
    width: 100px;
    height: 70px;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-right: 1px solid #b2b2b2;
}

.skin_item_box .skin_item .skin_h2 > h2 {
    font-size: 1rem;
    font-weight: 600;
    color: #000;
}

.skin_item_box .skin_item .skin_cont {
    width: -webkit-calc(100% - 100px);
    width: -moz-calc(100% - 100px);
    width: calc(100% - 100px);
    height: 70px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-left: 30px;
}

.skin_item_box .skin_item .skin_all {
    width: 60px;
    height: 100%;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.skin_item_box .skin_item .skin_all > a {
    font-size: 1rem;
    font-weight: 600;
    color: #000;
}

.skin_item_box .skin_item .skin_all > a:hover,
.skin_item_box .skin_item .skin_all.active > a {
    color: #0066da;
    border-bottom: 1px solid #0066da;
}

.skin_item_box .skin_item .skin_slider {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.skin_item_box .skin_item .skin_slider .text_slider_box,
.skin_item_box .skin_item .skin_slider .formskin_slider_box,
.skin_item_box .skin_item .skin_slider .formmake_slider_box,
.skin_item_box .skin_item .skin_slider .formtube_slider_box,
.skin_item_box .skin_item .skin_slider .formsustain_slider_box {
    width: 100%;
    height: 100%;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.skin_item_box .skin_item .skin_slider .text_slider_box li {
    width: auto;
    height: auto;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.skin_item_box .skin_item .skin_slider .text_slider_box li > a {
    font-size: 1rem;
    font-weight: 400;
    color: #000;
}

.skin_item_box .skin_item .skin_slider .text_slider_box li > a:hover,
.skin_item_box .skin_item .skin_slider .text_slider_box li.active > a {
    color: #0066da;
}

.skin_item_box .skin_item .skin_slider .text_slider_box li > a:hover::after,
.skin_item_box .skin_item .skin_slider .text_slider_box li.active > a::after {
    content: '';
    width: 100%;
    height: 1px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #0066da;
}

.skin_item_box .skin_item .skin_slider .formskin_slider_box li,
.skin_item_box .skin_item .skin_slider .formmake_slider_box li,
.skin_item_box .skin_item .skin_slider .formtube_slider_box li,
.skin_item_box .skin_item .skin_slider .formsustain_slider_box li {
    width: 45px;
    height: 50px;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.skin_item_box .skin_item .skin_slider .formskin_slider_box li > a,
.skin_item_box .skin_item .skin_slider .formmake_slider_box li > a,
.skin_item_box .skin_item .skin_slider .formtube_slider_box li > a,
.skin_item_box .skin_item .skin_slider .formsustain_slider_box li > a {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
}

.skin_item_box .skin_item .skin_slider .formskin_slider_box li > a:hover::after,
.skin_item_box .skin_item .skin_slider .formskin_slider_box li.active > a::after,
.skin_item_box .skin_item .skin_slider .formmake_slider_box li > a:hover::after,
.skin_item_box .skin_item .skin_slider .formmake_slider_box li.active > a::after,
.skin_item_box .skin_item .skin_slider .formtube_slider_box li > a:hover::after,
.skin_item_box .skin_item .skin_slider .formtube_slider_box li.active > a::after,
.skin_item_box .skin_item .skin_slider .formsustain_slider_box li > a:hover::after,
.skin_item_box .skin_item .skin_slider .formsustain_slider_box li.active > a::after {
    content: '';
    width: 100%;
    height: 1px;
    background-color: #0066da;
    position: absolute;
    bottom: 0;
    left: 0;
}

/* SKINCARE PICTRUE */
.skin_item_box .skin_item .skin_slider .formskin_slider_box li > a.form_01 {
    background-image: url(../img/form_skin_icon_01.png);
}

.skin_item_box .skin_item .skin_slider .formskin_slider_box li.active > a.form_01,
.skin_item_box .skin_item .skin_slider .formskin_slider_box li > a.form_01:hover {
    background-image: url(../img/form_skin_icon_01_on.png);
}

.skin_item_box .skin_item .skin_slider .formskin_slider_box li > a.form_02 {
    background-image: url(../img/form_skin_icon_02.png);
}

.skin_item_box .skin_item .skin_slider .formskin_slider_box li.active > a.form_02,
.skin_item_box .skin_item .skin_slider .formskin_slider_box li > a.form_02:hover {
    background-image: url(../img/form_skin_icon_02_on.png);
}

.skin_item_box .skin_item .skin_slider .formskin_slider_box li > a.form_03 {
    background-image: url(../img/form_skin_icon_03.png);
}

.skin_item_box .skin_item .skin_slider .formskin_slider_box li.active > a.form_03,
.skin_item_box .skin_item .skin_slider .formskin_slider_box li > a.form_03:hover {
    background-image: url(../img/form_skin_icon_03_on.png);
}

.skin_item_box .skin_item .skin_slider .formskin_slider_box li > a.form_04 {
    background-image: url(../img/form_skin_icon_04.png);
}

.skin_item_box .skin_item .skin_slider .formskin_slider_box li.active > a.form_04,
.skin_item_box .skin_item .skin_slider .formskin_slider_box li > a.form_04:hover {
    background-image: url(../img/form_skin_icon_04_on.png);
}

.skin_item_box .skin_item .skin_slider .formskin_slider_box li > a.form_05 {
    background-image: url(../img/form_skin_icon_05.png);
}

.skin_item_box .skin_item .skin_slider .formskin_slider_box li.active > a.form_05,
.skin_item_box .skin_item .skin_slider .formskin_slider_box li > a.form_05:hover {
    background-image: url(../img/form_skin_icon_05_on.png);
}

.skin_item_box .skin_item .skin_slider .formskin_slider_box li > a.form_06 {
    background-image: url(../img/form_skin_icon_06.png);
}

.skin_item_box .skin_item .skin_slider .formskin_slider_box li.active > a.form_06,
.skin_item_box .skin_item .skin_slider .formskin_slider_box li > a.form_06:hover {
    background-image: url(../img/form_skin_icon_06_on.png);
}

.skin_item_box .skin_item .skin_slider .formskin_slider_box li > a.form_07 {
    background-image: url(../img/form_skin_icon_07.png);
}

.skin_item_box .skin_item .skin_slider .formskin_slider_box li.active > a.form_07,
.skin_item_box .skin_item .skin_slider .formskin_slider_box li > a.form_07:hover {
    background-image: url(../img/form_skin_icon_07_on.png);
}

.skin_item_box .skin_item .skin_slider .formskin_slider_box li > a.form_08 {
    background-image: url(../img/form_skin_icon_08.png);
}

.skin_item_box .skin_item .skin_slider .formskin_slider_box li.active > a.form_08,
.skin_item_box .skin_item .skin_slider .formskin_slider_box li > a.form_08:hover {
    background-image: url(../img/form_skin_icon_08_on.png);
}

.skin_item_box .skin_item .skin_slider .formskin_slider_box li > a.form_09 {
    background-image: url(../img/form_skin_icon_09.png);
}

.skin_item_box .skin_item .skin_slider .formskin_slider_box li.active > a.form_09,
.skin_item_box .skin_item .skin_slider .formskin_slider_box li > a.form_09:hover {
    background-image: url(../img/form_skin_icon_09_on.png);
}

/* SKINCARE PICTRUE END */

/* MAKEUP PICTRUE */
.skin_item_box .skin_item .skin_slider .formmake_slider_box li > a.form_01 {
    background-image: url(../img/form_make_icon_01.png);
}

.skin_item_box .skin_item .skin_slider .formmake_slider_box li.active > a.form_01,
.skin_item_box .skin_item .skin_slider .formmake_slider_box li > a.form_01:hover {
    background-image: url(../img/form_make_icon_01_on.png);
}

.skin_item_box .skin_item .skin_slider .formmake_slider_box li > a.form_02 {
    background-image: url(../img/form_make_icon_02.png);
}

.skin_item_box .skin_item .skin_slider .formmake_slider_box li.active > a.form_02,
.skin_item_box .skin_item .skin_slider .formmake_slider_box li > a.form_02:hover {
    background-image: url(../img/form_make_icon_02_on.png);
}

.skin_item_box .skin_item .skin_slider .formmake_slider_box li > a.form_03 {
    background-image: url(../img/form_make_icon_03.png);
}

.skin_item_box .skin_item .skin_slider .formmake_slider_box li.active > a.form_03,
.skin_item_box .skin_item .skin_slider .formmake_slider_box li > a.form_03:hover {
    background-image: url(../img/form_make_icon_03_on.png);
}

.skin_item_box .skin_item .skin_slider .formmake_slider_box li > a.form_04 {
    background-image: url(../img/form_make_icon_04.png);
}

.skin_item_box .skin_item .skin_slider .formmake_slider_box li.active > a.form_04,
.skin_item_box .skin_item .skin_slider .formmake_slider_box li > a.form_04:hover {
    background-image: url(../img/form_make_icon_04_on.png);
}

.skin_item_box .skin_item .skin_slider .formmake_slider_box li > a.form_05 {
    background-image: url(../img/form_make_icon_05.png);
}

.skin_item_box .skin_item .skin_slider .formmake_slider_box li.active > a.form_05,
.skin_item_box .skin_item .skin_slider .formmake_slider_box li > a.form_05:hover {
    background-image: url(../img/form_make_icon_05_on.png);
}

.skin_item_box .skin_item .skin_slider .formmake_slider_box li > a.form_06 {
    background-image: url(../img/form_make_icon_06.png);
}

.skin_item_box .skin_item .skin_slider .formmake_slider_box li.active > a.form_06,
.skin_item_box .skin_item .skin_slider .formmake_slider_box li > a.form_06:hover {
    background-image: url(../img/form_make_icon_06_on.png);
}

.skin_item_box .skin_item .skin_slider .formmake_slider_box li > a.form_07 {
    background-image: url(../img/form_make_icon_07.png);
}

.skin_item_box .skin_item .skin_slider .formmake_slider_box li.active > a.form_07,
.skin_item_box .skin_item .skin_slider .formmake_slider_box li > a.form_07:hover {
    background-image: url(../img/form_make_icon_07_on.png);
}

.skin_item_box .skin_item .skin_slider .formmake_slider_box li > a.form_08 {
    background-image: url(../img/form_make_icon_08.png);
}

.skin_item_box .skin_item .skin_slider .formmake_slider_box li.active > a.form_08,
.skin_item_box .skin_item .skin_slider .formmake_slider_box li > a.form_08:hover {
    background-image: url(../img/form_make_icon_08_on.png);
}

.skin_item_box .skin_item .skin_slider .formmake_slider_box li > a.form_09 {
    background-image: url(../img/form_make_icon_09.png);
}

.skin_item_box .skin_item .skin_slider .formmake_slider_box li.active > a.form_09,
.skin_item_box .skin_item .skin_slider .formmake_slider_box li > a.form_09:hover {
    background-image: url(../img/form_make_icon_09_on.png);
}

.skin_item_box .skin_item .skin_slider .formmake_slider_box li > a.form_10 {
    background-image: url(../img/form_make_icon_10.png);
}

.skin_item_box .skin_item .skin_slider .formmake_slider_box li.active > a.form_10,
.skin_item_box .skin_item .skin_slider .formmake_slider_box li > a.form_10:hover {
    background-image: url(../img/form_make_icon_10_on.png);
}

.skin_item_box .skin_item .skin_slider .formmake_slider_box li > a.form_11 {
    background-image: url(../img/form_make_icon_11.png);
}

.skin_item_box .skin_item .skin_slider .formmake_slider_box li.active > a.form_11,
.skin_item_box .skin_item .skin_slider .formmake_slider_box li > a.form_11:hover {
    background-image: url(../img/form_make_icon_11_on.png);
}

/* MAKEUP PICTRUE END */

/* TUBE PICTRUE END */
.skin_item_box .skin_item .skin_slider .formtube_slider_box li > a.form_01 {
    background-image: url(../img/form_tube_icon_01.png);
}

.skin_item_box .skin_item .skin_slider .formtube_slider_box li.active > a.form_01,
.skin_item_box .skin_item .skin_slider .formtube_slider_box li > a.form_01:hover {
    background-image: url(../img/form_tube_icon_01_on.png);
}

.skin_item_box .skin_item .skin_slider .formtube_slider_box li > a.form_02 {
    background-image: url(../img/form_tube_icon_02.png);
}

.skin_item_box .skin_item .skin_slider .formtube_slider_box li.active > a.form_02,
.skin_item_box .skin_item .skin_slider .formtube_slider_box li > a.form_02:hover {
    background-image: url(../img/form_tube_icon_02_on.png);
}

.skin_item_box .skin_item .skin_slider .formtube_slider_box li > a.form_03 {
    background-image: url(../img/form_tube_icon_03.png);
}

.skin_item_box .skin_item .skin_slider .formtube_slider_box li.active > a.form_03,
.skin_item_box .skin_item .skin_slider .formtube_slider_box li > a.form_03:hover {
    background-image: url(../img/form_tube_icon_03_on.png);
}

/* TUBE PICTRUE END */

/* SUSTAINABLE PICTURE */
.skin_item_box .skin_item .skin_slider .formsustain_slider_box li > a.form_01 {
    background-image: url(../img/form_skin_icon_01.png);
}

.skin_item_box .skin_item .skin_slider .formsustain_slider_box li.active > a.form_01,
.skin_item_box .skin_item .skin_slider .formsustain_slider_box li > a.form_01:hover {
    background-image: url(../img/form_skin_icon_01_on.png);
}

.skin_item_box .skin_item .skin_slider .formsustain_slider_box li > a.form_02 {
    background-image: url(../img/form_skin_icon_02.png);
}

.skin_item_box .skin_item .skin_slider .formsustain_slider_box li.active > a.form_02,
.skin_item_box .skin_item .skin_slider .formsustain_slider_box li > a.form_02:hover {
    background-image: url(../img/form_skin_icon_02_on.png);
}

.skin_item_box .skin_item .skin_slider .formsustain_slider_box li > a.form_03 {
    background-image: url(../img/form_skin_icon_03.png);
}

.skin_item_box .skin_item .skin_slider .formsustain_slider_box li.active > a.form_03,
.skin_item_box .skin_item .skin_slider .formsustain_slider_box li > a.form_03:hover {
    background-image: url(../img/form_skin_icon_03_on.png);
}

.skin_item_box .skin_item .skin_slider .formsustain_slider_box li > a.form_04 {
    background-image: url(../img/form_skin_icon_04.png);
}

.skin_item_box .skin_item .skin_slider .formsustain_slider_box li.active > a.form_04,
.skin_item_box .skin_item .skin_slider .formsustain_slider_box li > a.form_04:hover {
    background-image: url(../img/form_skin_icon_04_on.png);
}

.skin_item_box .skin_item .skin_slider .formsustain_slider_box li > a.form_05 {
    background-image: url(../img/form_skin_icon_05.png);
}

.skin_item_box .skin_item .skin_slider .formsustain_slider_box li.active > a.form_05,
.skin_item_box .skin_item .skin_slider .formsustain_slider_box li > a.form_05:hover {
    background-image: url(../img/form_skin_icon_05_on.png);
}

.skin_item_box .skin_item .skin_slider .formsustain_slider_box li > a.form_06 {
    background-image: url(../img/form_skin_icon_06.png);
}

.skin_item_box .skin_item .skin_slider .formsustain_slider_box li.active > a.form_06,
.skin_item_box .skin_item .skin_slider .formsustain_slider_box li > a.form_06:hover {
    background-image: url(../img/form_skin_icon_06_on.png);
}

.skin_item_box .skin_item .skin_slider .formsustain_slider_box li > a.form_07 {
    background-image: url(../img/form_skin_icon_07.png);
}

.skin_item_box .skin_item .skin_slider .formsustain_slider_box li.active > a.form_07,
.skin_item_box .skin_item .skin_slider .formsustain_slider_box li > a.form_07:hover {
    background-image: url(../img/form_skin_icon_07_on.png);
}

.skin_item_box .skin_item .skin_slider .formsustain_slider_box li > a.form_08 {
    background-image: url(../img/form_skin_icon_08.png);
}

.skin_item_box .skin_item .skin_slider .formsustain_slider_box li.active > a.form_08,
.skin_item_box .skin_item .skin_slider .formsustain_slider_box li > a.form_08:hover {
    background-image: url(../img/form_skin_icon_08_on.png);
}

.skin_item_box .skin_item .skin_slider .formsustain_slider_box li > a.form_09 {
    background-image: url(../img/form_skin_icon_09.png);
}

.skin_item_box .skin_item .skin_slider .formsustain_slider_box li.active > a.form_09,
.skin_item_box .skin_item .skin_slider .formsustain_slider_box li > a.form_09:hover {
    background-image: url(../img/form_skin_icon_09_on.png);
}

/* SUSTAINABLE PICTURE END */

@media all and (max-width: 1281px) {
    .skin_item_box {
        padding-left: 30px;
        padding-right: 30px;
    }

    .skin_item_box .skin_item .skin_h2 {
        width: 70px;
    }

    .skin_item_box .skin_item .skin_cont {
        width: -webkit-calc(100% - 70px);
        width: -moz-calc(100% - 70px);
        width: calc(100% - 70px);
    }
}

@media all and (max-width: 1025px) {
    .skin_item_box {
        padding: 30px;
    }
}

@media all and (max-width: 885px) {
    .skin_item_box .skin_item {
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        border-bottom: 1px solid #b2b2b2;
        padding-bottom: 10px;
        margin-bottom: 20px;
    }

    .skin_item_box .skin_item:last-of-type {
        padding-bottom: 0;
        margin-bottom: 0;
        border-bottom: 0;
    }

    .skin_item_box .skin_item .skin_h2 {
        width: 100%;
        height: auto;
        border-right: 0;
    }

    .skin_item_box .skin_item .skin_cont {
        width: 100%;
        height: 50px;
        padding-left: 0;
    }

    .skin_item_box .skin_item .skin_all {
        width: 60px;
        -webkit-box-pack: left;
        -webkit-justify-content: left;
        -moz-box-pack: left;
        -ms-flex-pack: left;
        justify-content: left;
    }

    .skin_item_box .skin_item .skin_all > a {
        font-size: 0.9375rem;
        font-weight: 400;
    }

    .skin_item_box .skin_item .skin_slider .text_slider_box li > a {
        font-size: 0.9375rem;
    }

    .skin_item_box .skin_item .skin_slider .formskin_slider_box li,
    .skin_item_box .skin_item .skin_slider .formmake_slider_box li {
        width: 40px;
        height: 46px;
    }
}

@media all and (max-width: 481px) {
    .skin_item_box {
        padding: 20px 15px;
    }

    .skin_item_box .skin_item {
        margin-bottom: 15px;
    }

    .skin_item_box .skin_item .skin_h2 > h2 {
        font-size: 0.9375rem;
    }

    .skin_item_box .skin_item .skin_cont {
        height: 40px;
    }

    .skin_item_box .skin_item .skin_all {
        width: 50px;
    }

    .skin_item_box .skin_item .skin_all > a,
    .skin_item_box .skin_item .skin_slider .text_slider_box li > a {
        font-size: 0.875rem;
    }

    .skin_item_box .skin_item .skin_slider .formskin_slider_box li,
    .skin_item_box .skin_item .skin_slider .formmake_slider_box li {
        width: 35px;
        height: 40px;
    }
}

@media all and (max-width: 321px) {
    .skin_item_box .skin_item .skin_h2 > h2 {
        font-size: 0.875rem;
    }

    .skin_item_box .skin_item .skin_all > a,
    .skin_item_box .skin_item .skin_slider .text_slider_box li > a {
        font-size: 0.8125rem;
    }
}

/* SUB SKIN BOX END */

/* MYPAGE BOX */
.mypage_con {
    width: 100%;
    max-width: 1025px;
    margin: 0 auto;
    height: auto;
    position: relative;
    padding-top: 40px;
    padding-bottom: 150px;
}

.mypage_con .my_step_btn {
    width: 100%;
    height: auto;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 50px;
}

.mypage_con .my_step_btn > li {
    width: 140px;
    height: auto;
    position: relative;
}

.mypage_con .my_step_btn > li > a {
    display: block;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    background-color: #f4f4f4;
    -webkit-box-shadow: 1px 0 0 0 #b2b2b2, 0 1px 0 0 #b2b2b2, 1px 1px 0 0 #b2b2b2, 1px 0 0 0 #b2b2b2 inset, 0 1px 0 0 #b2b2b2 inset;
    box-shadow: 1px 0 0 0 #b2b2b2, 0 1px 0 0 #b2b2b2, 1px 1px 0 0 #b2b2b2, 1px 0 0 0 #b2b2b2 inset, 0 1px 0 0 #b2b2b2 inset;
    font-size: 1rem;
    font-weight: 500;
}

.mypage_con .my_step_btn > li > a:hover,
.mypage_con .my_step_btn > li.active > a {
    background-color: #000;
    color: #fff;
}

.mypage_con .my_step_btn > li:first-of-type > a {
    border-radius: 7px 0 0 7px;
}

.mypage_con .my_step_btn > li:last-of-type > a {
    border-radius: 0 7px 7px 0;
}

.mypage_con > h2 {
    font-size: 1.4375rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 20px;
}

.inquiry_list_box {
    width: 100%;
    height: auto;
    position: relative;
    margin-bottom: 40px;
}

.inquiry_box {
    width: 100%;
    height: auto;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #f4f4f4;
    padding: 40px 100px;
    margin-bottom: 20px;
}

.inquiry_box:last-of-type {
    margin-bottom: 0;
}

.inquiry_box .inquiry_tit {
    width: 450px;
    height: auto;
    position: relative;
}

.inquiry_box .inquiry_tit > p {
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 5px;
}

.inquiry_box .inquiry_tit > h2 {
    word-break: keep-all;
    position: relative;
}

.inquiry_box .inquiry_tit > h2,
.inquiry_box .inquiry_tit > h2 > span {
    font-size: 1.5625rem;
    font-weight: 400;
}

.inquiry_box .inquiry_tit > h2 > span {
    font-weight: 600;
}

.inquiry_box .inquiry_tit > h3 {
    font-size: 0.8125rem;
    font-weight: 300;
    color: #989898;
    margin-top: 20px;
    letter-spacing: -0.5px;
}

.inquiry_box .inquiry_cont {
    width: 100%;
}

.inquiry_box .inquiry_cont > li {
    width: 100%;
    height: auto;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 15px;
}

.inquiry_box .inquiry_cont > li:last-of-type {
    margin-bottom: 0;
}

.inquiry_box .inquiry_cont > li .inquiry_th {
    width: 100px;
    height: 40px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: right;
    -webkit-justify-content: right;
    -moz-box-pack: right;
    -ms-flex-pack: right;
    justify-content: right;
    position: relative;
}

.inquiry_box .inquiry_cont > li .inquiry_th > h2 {
    font-size: 0.9375rem;
    font-weight: 500;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 8px;
}

.inquiry_box .inquiry_cont > li .inquiry_th > h2 > span {
    width: 5px;
    height: 5px;
    background-color: #0066da;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.inquiry_box .inquiry_cont > li .inquiry_td {
    width: -webkit-calc(100% - 100px);
    width: -moz-calc(100% - 100px);
    width: calc(100% - 100px);
    height: auto;
    padding-left: 20px;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 10px;
}

.inquiry_box .inquiry_cont > li .inquiry_td.inquiry_td_full {
    width: 100%;
}

.inquiry_box .inquiry_cont > li .inquiry_td.inquiry_td_pad {
    padding-left: 40px;
}

.inquiry_box .inquiry_cont > li .inquiry_td > p {
    font-size: 1rem;
    font-weight: 700;
}

.inquiry_box .inquiry_cont > li .inquiry_td .inquiry_check_box {
    width: 100%;
    height: auto;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 20px 20px;
    padding-left: 50px;
}

.inquiry_box .inquiry_cont > li .inquiry_td .icon {
    width: 40px;
    height: 40px;
    font-size: 0;
    position: relative;
}

.inquiry_box .inquiry_cont > li .inquiry_td .icon > img {
    width: auto;
    max-width: 100%;
}

.mypage_btn_box {
    width: 100%;
    height: auto;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: right;
    -webkit-justify-content: right;
    -moz-box-pack: right;
    -ms-flex-pack: right;
    justify-content: right;
}

@media all and (max-width: 1025px) {
    .inquiry_box {
        padding: 40px;
    }
}

@media all and (max-width: 885px) {
    .mypage_con .my_step_btn > li > a {
        font-size: 0.875rem;
    }

    .inquiry_box {
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        padding: 30px;
    }

    .inquiry_box .inquiry_tit {
        width: 100%;
        margin-bottom: 30px;
    }

    .inquiry_box .inquiry_tit > h2 > br {
        display: none;
    }

    .inquiry_box .inquiry_tit > h3 {
        margin-top: 10px;
    }

    .inquiry_box .inquiry_cont > li .inquiry_th {
        width: 80px;
        -webkit-box-pack: left;
        -webkit-justify-content: left;
        -moz-box-pack: left;
        -ms-flex-pack: left;
        justify-content: left;
    }

    .inquiry_box .inquiry_cont > li .inquiry_td {
        width: -webkit-calc(100% - 80px);
        width: -moz-calc(100% - 80px);
        width: calc(100% - 80px);
    }

    .inquiry_box .inquiry_cont > li .inquiry_td.inquiry_td_full {
        padding-left: 0;
    }

    .inquiry_box .inquiry_cont > li .inquiry_td .inquiry_check_box {
        padding-left: 0;
    }

    .inquiry_box .inquiry_cont > li .inquiry_td .icon {
        width: 30px;
        height: 30px;
    }
}

@media all and (max-width: 481px) {
    .mypage_con > h2 {
        font-size: 1.125rem;
    }

    .inquiry_box {
        padding: 20px 15px;
    }

    .inquiry_box .inquiry_tit > p {
        font-size: 0.875rem;
    }

    .inquiry_box .inquiry_tit > h2,
    .inquiry_box .inquiry_tit > h2 > span {
        font-size: 1rem;
    }

    .inquiry_box .inquiry_cont > li {
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .inquiry_box .inquiry_cont > li .inquiry_th {
        width: 100%;
    }

    .inquiry_box .inquiry_cont > li .inquiry_th > h2 {
        font-size: 0.875rem;
    }

    .inquiry_box .inquiry_cont > li .inquiry_td {
        width: 100%;
        padding-left: 0;
    }

    .inquiry_box .inquiry_tit > h3 {
        font-size: 0.75rem;
    }
}

@media all and (max-width: 321px) {
    .mypage_con .my_step_btn > li {
        width: 120px;
    }

    .mypage_con .my_step_btn > li > a {
        font-size: 0.8125rem;
    }

    .mypage_con > h2 {
        font-size: 1rem;
    }

    .inquiry_box .inquiry_tit > p {
        font-size: 0.8125rem;
    }

    .inquiry_box .inquiry_cont > li .inquiry_th > h2 {
        font-size: 0.8125rem;
    }

    .inquiry_box .inquiry_tit > h2,
    .inquiry_box .inquiry_tit > h2 > span {
        font-size: 0.9375rem;
    }

    .inquiry_box .inquiry_tit > h3 {
        font-size: 0.6875rem;
    }
}

/* MYPAGE BOX END */

/* MYPAGE TABLE */
.mypage_table {
    width: 100%;
    height: auto;
    position: relative;
    margin-bottom: 20px;
}

.mypage_table > table {
    width: 100%;
    height: auto;
    position: relative;
    border-bottom: 1px solid #000;
}

.mypage_table > table th {
    font-size: 0.9375rem;
    font-weight: 600;
    border-bottom: 1px solid #000;
    padding: 5px 10px;
}

.mypage_table > table td {
    text-align: center;
    padding: 25px 10px;
    font-size: 0.875rem;
    font-weight: 400;
    color: #000;
}

.my_product {
    width: 80px;
    height: 80px;
    -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
}

.join_con.mypage_edit {
    padding-top: 0;
    padding-bottom: 0;
}

@media all and (max-width: 885px) {
    .mypage_table {
        overflow: auto;
    }

    .mypage_table > table {
        width: 885px;
    }
}

@media all and (max-width: 481px) {
    .mypage_table > table td {
        font-size: 0.8125rem;
    }
}

/* MYPAGE TABLE END */
